
<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Top Stories</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-refresher slot="fixed" [disabled]="!canRefresh()" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
   <!-- <div>
      <ion-button color="light" [disabled]="!hasPrevious()" (click)="previous()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        Prev
      </ion-button>
      <ion-button [disabled]="!canRefresh()" (click)="refresh()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="light" [disabled]="!hasNext()" (click)="next()">
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
        Next
      </ion-button>
    </div> -->
    <app-items [items]="items" (toOpen)="pageOpen($event)"></app-items>
    <ion-infinite-scroll [disabled]="!hasNext()" (ionInfinite)="load($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-app>
