<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button routerLink="/top-stories">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="signUp()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">UserName</ion-label>
        <ion-input type="text" name="name" formControlName="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" formControlName="email" required email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">PassWord</ion-label>
        <ion-input type="text" name="password" formControlName="password" required minlength="6"></ion-input>
      </ion-item>
      <ion-button color="primary" type="submit" [disabled]="form.invalid">SignUp</ion-button>
      <div style="padding: 4px;">
        <ion-label>Have an account Already?</ion-label>
        <div>
          <ion-button routerLink="/login" color="dark"><ion-icon name="log-in-outline"></ion-icon>Login</ion-button>
        </div>
      </div>
    </ion-list>
  </form>
</ion-content>
