<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button routerLink="/top-stories">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
 <div style="padding: 10px 10px; background-color: rgb(94, 137, 216); font-size: 30;">
   Thanks for signing up. An email has been sent to the provide email address for verfication.
 </div>
</ion-content>
