<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-button slot="end" color='primary'>test</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Hair Color</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-range min="0" max="50" [(min)]="value.min" [(max)]="value.max" dual-knobs="true">
    <ion-icon name="sad" slot="start"></ion-icon>
    <ion-icon name="happy" slot="end"></ion-icon>
  </ion-range>
  <ion-item><ion-label>{{value.min}}</ion-label></ion-item>
  <ion-button color="primary" routerLink="/top-stories">go to Top-stories</ion-button>
</ion-content>
