<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
    <ion-thumbnail slot="start">
    <img src="http://placehold.it/100x60?text=F1">
    </ion-thumbnail>
    Apple
    </ion-item>
    <ion-item>
    <ion-thumbnail slot="start">
    <img src="http://placehold.it/100x60?text=F2">
    </ion-thumbnail>
    Banana
    </ion-item>
    <ion-item>
    <ion-thumbnail slot="start">
    <img src="http://placehold.it/100x60?text=F3">
    </ion-thumbnail>
    Orange
    </ion-item>
    </ion-list>
    <ion-button color="primary" routerLink="/top-stories">go to Top-stories</ion-button>
</ion-content>
